body {
  background: peachpuff;
}

.container {
  display: flex;
}

.cell {
  font-weight: bold;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background: white;
  position: relative;
  font-size: 2em;
  font-family: sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: default;

  &.incorrect {
    color: red;
  }

  &.word-active {
    background: #99c0ff;
  }

  &.active {
    background: #ffcd19;
  }

  .number {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px;
    font-size: .4em;
    font-weight: normal;
    color: black;
  }
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.block {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background: black;
  position: relative;
}

.clue-container-all {
  display: flex;
  background: white;
  border-radius: 4px;
  margin-left: 10px;
}

.clue-container-one h3 {
  font-family: sans-serif;
  text-align: center;
}

.word {
  font-family: sans-serif;
  padding: 4px;
  border-radius: 4px;

  &.active {
    background: #99c0ff;
  }

  &.complete {
    color: #ccc;
  }
}

.clue-list {
  max-height: 90vh;
  max-width: 300px;
  overflow: auto;
  padding: 0 15px 0 15px;
}