body {
  background-color: green;
}

.container {
  display: flex;
}

.cell {
  font-weight: bold;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background: white;
  position: relative;
  font-size: 2em;
  font-family: sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;

  &.incorrect {
    color: red;
  }

  &.word-active {
    background: #99c0ff;
  }

  &.active {
    background: #ffcd19;
  }

  input {
    position: absolute;
    color: transparent;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: default;
  }
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.block {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background: black;
  position: relative;
}

.wordsList {
  width: 300px;
  height: 300px;
  background: salmon;
}